@charset "UTF-8";
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

html {
  box-sizing: border-box;
  font-size: 62.5%; }

body {
  font-family: "Nunito", sans-serif;
  font-weight: 300;
  line-height: 1.6;
  color: #6D5D4B; }

/*
BREAKPOINTS ARGUMENTS CHOICE 
The "good" way, which determining these choices by analysing group of screens used in the world. 
The "perfect" way would have to determine the breakpoint by analyzing each real breakpoint on my screen, using "Toggle Screen" in DevTools"

- phone   // 0-600px => I want 1 rem = 8px  ; 8px/16px = 50%
- tablet-port  // 600-900px => IDEM
- tablet-land   //   900-1200px => 1 rem = 9px  ; 9px/16px = 56.25%
- "normal - no set up  max width() needed"  //   1200-1800px  => 1 rem = 10px ; 1px/16px = 62.5%
- big-screen  //  +1800px =>  1 rem = 12px ; 1px/16px = 75%

    So the result is :
    max-width(900) , 50%
    max-width(1200), 56.25%
    min-width(1800), 75%

    And the correct order is (to prevent unwanted overwritting, cuz it's the last one that will overwrite the others:
    max-width(1200), 56.25%
    max-width(900) , 50%
    min-width(1800), 75%
*/
@media only screen and (max-width: 75em) {
  html {
    font-size: 50%; } }

@media only screen and (min-width: 112.5em) {
  html {
    font-size: 75%; } }

/*FOR TESTING PURPOSES AT THE VERY BEGINNING TO CHECK HOW
OUR OVERALL GRID LAYOUT LOOK LIKE
    &>* {
        padding: 4rem;
        text-transform: uppercase;
        font-size: 3rem;
    }
*/
.container {
  display: grid;
  grid-template-rows: 80vh min-content 40vw repeat(3, min-content);
  grid-template-columns: [sidebar-start] 8rem [sidebar-end full-start] minmax(6rem, 1fr) [center-start] repeat(8, [col-start] minmax(min-content, 14rem) [col-end]) [center-end] minmax(6rem, 1fr) [full-end];
  /* EXPLAINING THE GRID-TEMPLATE-ROWS CHOICE
    - 80vh for the header is obvious - fixed height when the width of the screen changes
    - [INTERESTING] 40vw for the 3rd row which corresponds to the testimony means we want this
    section to take less space screen when we reduce the width of the screen window*/
  /*EXPLAINING THE GRID-TEMPLATE-COLUMNS CHOICE
    1/ the sidebar has a fixed width => obvious
    2/ then he puts 8 minmax(min-content, 14rem) columns in the center that allow to position what he want how he wants between the sidebar and the end of the screen
    3/ and finally around these 8 column area, he puts 2 minmax(6rem,1fr) (one at the beginning, one at the end of this 8-col-area
    ==> these 2 fractionnal tracks allows to center the central grid centered between the sidebar and the end.
    ===> the min @6rem allows to keep these 2 surrounding with a min width col even if we reduce the width of the screen ==> the content won't touch the sidebar or the border-inline-end-width: border-inline-end-width: 
    4/ he gives names to all this so it's easy to use (≠line-numbers)*/ }
  @media only screen and (max-width: 56.25em) {
    .container {
      grid-template-rows: 6rem 80vh;
      grid-template-columns: [sidebar-start] 8rem [sidebar-end full-start] minmax(6rem, 1fr) [center-start] repeat(8, [col-start] minmax(min-content, 14rem) [col-end]) [center-end] minmax(6rem, 1fr) [full-end]; } }
  @media only screen and (max-width: 37.5em) {
    .container {
      grid-template-rows: 6rem calc(80vh - 6rem) minmax(min-content, max-content);
      grid-template-columns: minmax(6rem, 1fr) [center-start] repeat(8, [col-start] minmax(min-content, 14rem) [col-end]) [center-end] minmax(6rem, 1fr) [full-end]; } }
  @media only screen and (max-width: 28em) {
    .container {
      grid-template-rows: 6rem calc(100vh - 6rem) minmax(min-content, max-content);
      grid-template-columns: minmax(6rem, 1fr) [center-start] repeat(8, [col-start] minmax(min-content, 14rem) [col-end]) [center-end] minmax(6rem, 1fr) [full-end]; } }

/* it's an "extend" which is the opposite of a mixin;
The @extend marked selctors will be copied in this huge %selctor
*/
.heading-1, .heading-2, .heading-3, .heading-4 {
  font-family: "Josefin Sans", sans-serif;
  font-weight: 400; }

.heading-1 {
  font-size: 4rem;
  color: #fff;
  line-height: 1; }

.heading-2 {
  color: #101d2c;
  font-size: 4rem;
  line-height: 1;
  font-style: italic; }
  .heading-2--light {
    color: #f9f7f6; }
  .heading-2--dark {
    color: #54483A; }

.heading-3 {
  font-size: 1.8rem;
  text-transform: uppercase;
  color: #c69963; }

.heading-4 {
  font-size: 1.9rem; }
  .heading-4--light {
    color: #f9f7f6; }
  .heading-4--dark {
    color: #54483A; }

.mb-sm {
  margin-bottom: 2rem; }

.mb-md {
  margin-bottom: 3rem; }

.mb-bg {
  margin-bottom: 4rem; }

.mb-hg {
  margin-bottom: 8rem; }

.btn {
  padding: 1.8rem 3rem;
  text-transform: uppercase;
  font-family: "Josefin Sans", sans-serif;
  font-size: 1.6rem;
  color: #fff;
  background-color: #c69963;
  border-radius: 0;
  border: none;
  outline: none;
  cursor: pointer;
  transition: all .2s; }
  .btn:hover {
    background-color: #B28451; }

.footer {
  background-color: #101d2c;
  grid-column: full-start / full-end;
  padding: 10rem 4rem; }
  @media only screen and (max-width: 56.25em) {
    .footer {
      grid-row: 9/10;
      grid-column: 1/-1; } }
  .footer__list {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(17rem, 1fr));
    grid-auto-rows: inherit;
    gap: 1.2rem; }
  .footer__item {
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;
    list-style-type: none;
    font-size: 1.4rem;
    font-family: "Josefin Sans", sans-serif;
    transition: all .2s; }
    .footer__item:hover, .footer__item:active {
      transform: translateY(-1rem);
      background-color: #182c42; }
  .footer__link:link, .footer__link:visited {
    color: #fff;
    text-decoration: none;
    text-transform: uppercase;
    padding: 1.5rem 3rem; }
  .footer .copyright {
    text-align: center;
    margin: 0 auto;
    width: 60vw;
    margin-top: 5rem;
    color: #aaa;
    font-size: 1.4rem; }

.sidebar {
  background-color: #c69963;
  grid-column: sidebar-start / sidebar-end;
  grid-row: 1/-1;
  position: relative;
  z-index: 50;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  /* We create an input (type:checkbox) that we will hide.
    Then the label (that will check & uncheck the hidden input-checkbox)
    is an empty square that contains my btn-navi.
    This btn-navi is made of a single empty white bar with before & after pseudo-elements attached*/ }
  @media only screen and (max-width: 56.25em) {
    .sidebar {
      grid-row: 1/2;
      grid-column: 1/-1;
      position: sticky;
      top: 0; } }
  .sidebar__button-box {
    width: 45px;
    height: 45px;
    z-index: 4000;
    position: fixed;
    margin-top: 1.8rem; }
    @media only screen and (max-width: 56.25em) {
      .sidebar__button-box {
        right: 1rem;
        top: 0;
        margin-top: 0; } }
  .sidebar__btn-navi {
    border: none;
    width: 45px;
    height: 2px;
    display: block;
    background-color: #fff;
    z-index: 3800;
    position: absolute;
    top: 50%;
    left: 0;
    transition: all .2s; }
  .sidebar__btn-navi::before, .sidebar__btn-navi::after {
    content: "";
    border: none;
    width: inherit;
    height: inherit;
    background-color: #fff;
    z-index: inherit;
    display: inherit;
    transition: all .2s; }
  .sidebar__btn-navi::before {
    transform: translateY(-1.4rem); }
  .sidebar__btn-navi::after {
    transform: translateY(1.3rem); }
  .sidebar__button-box:hover > .sidebar__btn-navi::before {
    transform: translateY(-1.5rem); }
  .sidebar__button-box:hover > .sidebar__btn-navi::after {
    transform: translateY(1.4rem); }
  .sidebar__checkbox {
    display: none; }
  .sidebar--large {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: min-content;
    height: 100%;
    background-color: #c69963;
    z-index: 500;
    transition: all .3s; }
  .sidebar__list {
    list-style: none;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    text-align: center;
    text-transform: uppercase;
    color: #fff;
    margin-top: 10rem;
    font-size: 2rem;
    margin-left: 2rem; }
  .sidebar__item {
    display: block;
    white-space: nowrap;
    padding: .2rem .5rem .2rem 0;
    margin-bottom: .8rem;
    margin-right: 5rem;
    cursor: pointer; }
    .sidebar__item:hover {
      border-bottom: 1px solid #fff; }
  .sidebar__checkbox:checked ~ .sidebar--large {
    display: block; }
  .sidebar__checkbox:checked ~ .sidebar__button-box > .sidebar__btn-navi::before {
    transform: rotate(135deg); }
  .sidebar__checkbox:checked ~ .sidebar__button-box > .sidebar__btn-navi::after {
    transform: rotate(-135deg) translateY(2px); }
  .sidebar__checkbox:checked ~ .sidebar__button-box > .sidebar__btn-navi {
    background-color: transparent; }

.header {
  background-color: #aaa;
  grid-column: full-start / col-end 6;
  padding: 8rem;
  padding-top: 4rem;
  display: grid;
  grid-template-rows: 1fr repeat(2, min-content) 1fr;
  grid-template-columns: minmax(min-content, max-content);
  justify-content: center;
  grid-row-gap: 1.5rem;
  background-image: linear-gradient(rgba(16, 29, 44, 0.93), rgba(16, 29, 44, 0.93)), url(../img/hero.jpeg);
  background-position: center;
  background-size: cover;
  /*&__logo, & h3, & h1, &__btn, &__seenon, &__logos {
        grid-column: 2 / 3;
    }*/ }
  @media only screen and (max-width: 56.25em) {
    .header {
      grid-template-rows: 1fr repeat(2, max-content) 1fr;
      padding: 4rem;
      grid-row: 2/3;
      grid-column: 1/-1; } }
  @media only screen and (max-width: 28em) {
    .header {
      grid-template-rows: 1fr repeat(2, max-content) 1fr;
      grid-template-columns: 1fr;
      padding: 4rem;
      justify-content: center;
      justify-items: center;
      grid-row: 2/3;
      grid-column: 1/-1; } }
  .header__logo {
    height: 3rem;
    justify-self: center; }
  @media only screen and (max-width: 28em) {
    .header > h3,
    .header > h1 {
      text-align: center; } }
  .header__btn {
    justify-self: start;
    align-self: flex-start;
    font-size: 1.4rem;
    padding: 1.6rem 2.8rem; }
    @media only screen and (max-width: 28em) {
      .header__btn {
        margin: 0rem 0rem;
        justify-self: center; } }
  .header__seenon {
    display: grid;
    grid-template-columns: 1fr max-content 1fr;
    justify-items: center;
    color: #aaa;
    font-size: 1.3rem;
    white-space: nowrap;
    grid-column-gap: 2rem; }
    .header__seenon::before, .header__seenon::after {
      content: "";
      height: 1px;
      display: block;
      background-color: currentColor;
      width: 100%;
      align-self: center; }
  .header__logos {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(6rem, 1fr));
    justify-items: center;
    grid-gap: 3rem; }
    @media only screen and (max-width: 56.25em) {
      .header__logos {
        grid-template-columns: repeat(auto-fit, minmax(5rem, 1fr));
        grid-gap: 5rem; } }
    @media only screen and (max-width: 37.5em) {
      .header__logos {
        grid-template-columns: repeat(auto-fit, minmax(20rem, 1fr));
        grid-gap: 3rem; } }
    .header__logos img {
      max-height: 2.5rem;
      filter: brightness(70%); }

/* An other method is to create a titile which is independant
from a box that contains the 3 profiles.
cf. 1st try and Jonas' version*/
.realtors {
  background-color: #101d2c;
  grid-column: col-start 7 / full-end;
  display: grid;
  grid-template-rows: repeat(4, max-content);
  grid-row-gap: 5vh;
  justify-content: center;
  align-content: center; }
  @media only screen and (max-width: 56.25em) {
    .realtors {
      grid-row: 3/4;
      grid-column: 1/-1;
      justify-content: center;
      display: grid;
      grid-template-rows: repeat(2, min-content);
      grid-template-columns: repeat(3, 1fr);
      justify-items: center;
      padding: 3rem .2rem;
      grid-column-gap: .5rem; } }
  .realtors > * {
    grid-column: 2/3; }
  .realtors h3 {
    font-size: 1.4rem;
    justify-self: center; }
    @media only screen and (max-width: 56.25em) {
      .realtors h3 {
        grid-row: 1/2;
        grid-column: 1/-1; } }
  .realtors__profile {
    color: #fff;
    display: grid;
    grid-template-columns: max-content 1fr;
    grid-column-gap: 1.8rem; }
    @media only screen and (max-width: 56.25em) {
      .realtors__profile--1 {
        grid-row: 2/3;
        grid-column: 1/2; } }
    @media only screen and (max-width: 56.25em) {
      .realtors__profile--2 {
        grid-row: 2/3;
        grid-column: 2/3; } }
    @media only screen and (max-width: 56.25em) {
      .realtors__profile--3 {
        grid-row: 2/3;
        grid-column: 3/4; } }
  .realtors__img {
    width: 5rem;
    border-radius: 50%;
    grid-row: 1 / span 2;
    grid-column: 1/2; }
  .realtors__name {
    font-family: "Josefin Sans", sans-serif;
    font-weight: 400;
    font-size: 1.7rem;
    grid-column: 2/3;
    grid-row: 1/2;
    align-self: flex-end; }
  .realtors__stats {
    text-transform: uppercase;
    color: #aaa;
    font-size: .8rem;
    grid-column: 2/3;
    grid-row: 2/3; }

.features {
  grid-column: center-start / center-end;
  grid-gap: 6rem;
  margin: 15rem 0;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(25rem, 1fr)); }
  @media only screen and (max-width: 56.25em) {
    .features {
      grid-row: 4/5;
      grid-column: 1/-1;
      padding: 0 3rem;
      margin: 7rem 0; } }
  .features__box {
    display: grid;
    grid-template-columns: min-content 1fr;
    grid-template-rows: min-content;
    /*I try not to explicit it but it creates a white space below 4th and 6th icon svg
        Indeed because by the default the .features'grid is set to align-items:stretch => so the content try to occupy the whole grid cell
        an other trick was to move all the features items to the top by putting on .features {align-item:top;] */
    grid-template-areas: "icon title" ". content";
    column-gap: 2.2rem;
    row-gap: .5rem; }
  .features__icon {
    display: block;
    width: 4.5rem;
    height: 4.5rem;
    fill: #c69963;
    grid-area: icon; }
  .features__heading {
    grid-area: title;
    display: flex;
    flex-direction: column;
    justify-content: center; }
  .features__text {
    grid-area: content;
    font-size: 1.7rem; }

.stories__pictures {
  grid-column: full-start / col-end 4;
  display: grid;
  grid-template-rows: repeat(6, 1fr);
  grid-template-columns: repeat(6, 1fr);
  background-image: linear-gradient(rgba(198, 153, 99, 0.5), rgba(198, 153, 99, 0.5)), url(../img/back.jpg);
  background-size: cover; }
  @media only screen and (max-width: 56.25em) {
    .stories__pictures {
      grid-row: 5/6;
      grid-column: 1/-1; } }

.stories__img {
  width: 100%; }
  @media only screen and (max-width: 56.25em) {
    .stories__img {
      width: 80%; } }
  .stories__img--1 {
    grid-column: 2/6;
    grid-row: 2/6;
    align-self: center;
    box-shadow: 0 2rem 5rem rgba(0, 0, 0, 0.1); }
  .stories__img--2 {
    grid-column: 4/7;
    grid-row: 4/7;
    width: 115%;
    z-index: 3;
    box-shadow: 0 2rem 5rem rgba(0, 0, 0, 0.2); }
    @media only screen and (max-width: 56.25em) {
      .stories__img--2 {
        width: 80%; } }

.stories__content {
  background-color: #f9f7f6;
  grid-column: col-start 5 / full-end;
  padding: 6rem 8vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start; }
  @media only screen and (max-width: 56.25em) {
    .stories__content {
      grid-row: 6/7;
      grid-column: 1/-1; } }

.stories__text {
  font-size: 1.5rem;
  font-style: italic;
  margin-bottom: 2rem; }

.homes {
  grid-column: full-start / full-end;
  margin: 15rem 0;
  padding: 0 15rem;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(25rem, 1fr));
  grid-gap: 7rem; }
  @media only screen and (max-width: 56.25em) {
    .homes {
      grid-row: 7/8;
      grid-column: 1/-1;
      padding: 0 5rem;
      margin: 7rem 0; } }
  .homes__card {
    display: grid;
    grid-template-columns: repeat(2, 50%);
    background-color: #f9f7f6;
    position: relative; }
  .homes__img {
    width: 100%;
    grid-column: 1 / -1;
    grid-row: 1/2;
    z-index: 1; }
  .homes__like {
    /* the solution I did spontaneously - using absolute positionning
        position: absolute;
        top: 1.8rem;
        right: 1.8rem; */
    grid-column: 2 / -1;
    grid-row: 1/2;
    justify-self: flex-end;
    margin: 1rem 1rem 0 0;
    z-index: 2;
    width: 2.5rem;
    height: 2.5rem;
    fill: #c69963; }
  .homes__heading {
    /*position: absolute;
        top: 20rem;
        left: 3.5rem;*/
    grid-row: 2/3;
    grid-column: 1 / span 2;
    margin-top: -2.2rem;
    justify-self: center;
    width: 80%;
    text-align: center;
    background-color: #101d2c;
    padding: 1rem 1rem;
    font-size: 1.6rem;
    z-index: 5;
    /*grid-row : 1 /2 ; so it the first grid
        grid-column: 1 / -1; 
        justify-self: center; 
        align-self : bottom ; to put it at the bottom of the 1st grid cell
        translateY(50%); to be perfectly center on the bottom line of the grid cell (line n°2) */ }
  .homes__items {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-column: 1 / span 2;
    grid-gap: 2rem;
    margin-top: 2rem; }
  .homes__item {
    display: grid;
    grid-template-columns: min-content 1fr;
    column-gap: 1rem;
    /*Other solution is to use Flexbox :
        display : flex ;
        align-items : center ;*/
    padding: 1rem 2rem;
    font-size: 1.5rem; }
    .homes__item--country {
      grid-column: 1 / span 1; }
    .homes__item--rooms {
      grid-column: 2 / span 1; }
    .homes__item--surface {
      grid-column: 1 / span 1; }
    .homes__item--price {
      grid-column: 2 / span 1; }
  .homes__icon {
    width: 2rem;
    height: 2rem;
    fill: #B28451; }
  .homes__cta {
    grid-column: 1 / -1;
    margin-top: 2rem; }

.gallery {
  grid-column: full-start / full-end;
  display: grid;
  grid-template-columns: repeat(8, [col-start] 1fr [col-end]);
  grid-template-rows: repeat(7, [row-start] 5vw [row-end]);
  padding: 2rem 2rem;
  background-color: #f9f7f6;
  gap: 2rem; }
  @media only screen and (max-width: 56.25em) {
    .gallery {
      grid-row: 8/9;
      grid-column: 1/-1;
      gap: .5rem;
      padding: .5rem; } }
  .gallery__img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block; }
    .gallery__img--1 {
      grid-column: col-start 1 / span 2;
      grid-row: 1 / span 2; }
    .gallery__img--2 {
      grid-column: col-start 3 / span 3;
      grid-row: 1 / span 3; }
    .gallery__img--3 {
      grid-column: col-start 6 / span 1;
      grid-row: 1 / span 2; }
    .gallery__img--4 {
      grid-column: col-start 7 / -1;
      grid-row: 1 / span 2;
      object-fit: cover; }
    .gallery__img--5 {
      grid-column: col-start 1 / span 2;
      grid-row: row-start 3 / span 3; }
    .gallery__img--6 {
      grid-column: col-start 3 / span 2;
      grid-row: row-start 4 / span 2; }
    .gallery__img--7 {
      grid-column: col-start 5 / span 1;
      grid-row: row-start 4 / span 1; }
    .gallery__img--8 {
      grid-column: col-start 6 / span 2;
      grid-row: row-start 3 / span 2; }
    .gallery__img--9 {
      grid-column: col-start 8 / -1;
      grid-row: row-start 3 / span 3; }
    .gallery__img--10 {
      grid-column: col-start 1 / span 1;
      grid-row: row-start 6 / -1; }
    .gallery__img--11 {
      grid-column: col-start 2 / span 2;
      grid-row: row-start 6 / -1; }
    .gallery__img--12 {
      grid-column: col-start 4 / span 1;
      grid-row: row-start 6 / -1; }
    .gallery__img--13 {
      grid-column: col-start 5 / span 3;
      grid-row: row-start 5 / -1; }
    .gallery__img--14 {
      grid-column: col-start 8 / -1;
      grid-row: row-start 6 / -1; }
