////////////////////////////////////////////
////// COLOR VARIABLES
$color-primary: #c69963;
$color-primary-dark: #B28451;

$color-secondary: #101d2c;

$color-grey-light-1: #f9f7f6;
$color-grey-light-2: #aaa;

$color-grey-dark-1: #54483A;
$color-grey-dark-2: #6D5D4B;

// FONT VARIABLES
$font-primary: 'Nunito', sans-serif;
$font-display: 'Josefin Sans', sans-serif;



////////////////////////////////////////////
////// GENERAL SET UP
*,
*::before, 
*::after {
    margin: 0; 
    padding: 0; 
    box-sizing: inherit;
}

html {
    box-sizing: border-box; 
    font-size: 62.5%;  // 1rem = 10px, 10px/16px = 62.5%
} 

body {
    font-family: $font-primary;
    font-weight: 300;  
    line-height: 1.6;  
    color: $color-grey-dark-2;
}



   

////////////////////////////////////////////
////// MEDIA QUERIES AND RESPONSIVENESS

/*
BREAKPOINTS ARGUMENTS CHOICE 
The "good" way, which determining these choices by analysing group of screens used in the world. 
The "perfect" way would have to determine the breakpoint by analyzing each real breakpoint on my screen, using "Toggle Screen" in DevTools"

- phone   // 0-600px => I want 1 rem = 8px  ; 8px/16px = 50%
- tablet-port  // 600-900px => IDEM
- tablet-land   //   900-1200px => 1 rem = 9px  ; 9px/16px = 56.25%
- "normal - no set up  max width() needed"  //   1200-1800px  => 1 rem = 10px ; 1px/16px = 62.5%
- big-screen  //  +1800px =>  1 rem = 12px ; 1px/16px = 75%

    So the result is :
    max-width(900) , 50%
    max-width(1200), 56.25%
    min-width(1800), 75%

    And the correct order is (to prevent unwanted overwritting, cuz it's the last one that will overwrite the others:
    max-width(1200), 56.25%
    max-width(900) , 50%
    min-width(1800), 75%
*/

//MEDIA QUERY MANAGER mixin called "responsive"
@mixin responsive($breakpoint) {

    @if $breakpoint == small-phone {
        @media only screen and  (max-width: 28em) {@content};   //450px
        }

    @if $breakpoint == phone {
         @media only screen and  (max-width: 37.5em) {@content};   //600px  - 600/16px  
    }

    @if $breakpoint == tablet-port {
        @media only screen and (max-width: 56.25em) {@content};  //900px  - 900/16px 
   }

   @if $breakpoint == tablet-land {
    @media only screen and  (max-width: 75em) {@content};   //1200px
   }

   @if $breakpoint == big-screen {
    @media only screen and  (min-width: 112.5em) {@content};   //1800px
    }

    
}


html {
    @include responsive (tablet-land){
        font-size: 50%;
        }

    @include responsive (big-screen){
        font-size: 75%;
        }
}
    

////////////////////////////////////////////
////// LAYOUT GRID CSS

/*FOR TESTING PURPOSES AT THE VERY BEGINNING TO CHECK HOW
OUR OVERALL GRID LAYOUT LOOK LIKE
    &>* {
        padding: 4rem;
        text-transform: uppercase;
        font-size: 3rem;
    }
*/

.container {
    display: grid;
    grid-template-rows: 80vh min-content 40vw repeat(3,min-content);    
    grid-template-columns: [sidebar-start] 8rem [sidebar-end full-start] minmax(6rem,1fr) [center-start] repeat(8, [col-start] minmax(min-content, 14rem) [col-end]) [center-end] minmax(6rem,1fr) [full-end]; 

     /* EXPLAINING THE GRID-TEMPLATE-ROWS CHOICE
    - 80vh for the header is obvious - fixed height when the width of the screen changes
    - [INTERESTING] 40vw for the 3rd row which corresponds to the testimony means we want this
    section to take less space screen when we reduce the width of the screen window*/

    /*EXPLAINING THE GRID-TEMPLATE-COLUMNS CHOICE
    1/ the sidebar has a fixed width => obvious
    2/ then he puts 8 minmax(min-content, 14rem) columns in the center that allow to position what he want how he wants between the sidebar and the end of the screen
    3/ and finally around these 8 column area, he puts 2 minmax(6rem,1fr) (one at the beginning, one at the end of this 8-col-area
    ==> these 2 fractionnal tracks allows to center the central grid centered between the sidebar and the end.
    ===> the min @6rem allows to keep these 2 surrounding with a min width col even if we reduce the width of the screen ==> the content won't touch the sidebar or the border-inline-end-width: border-inline-end-width: 
    4/ he gives names to all this so it's easy to use (≠line-numbers)*/ 

    
    @include responsive(tablet-port){
        grid-template-rows: 6rem 80vh;    
        grid-template-columns: [sidebar-start] 8rem [sidebar-end full-start] minmax(6rem,1fr) [center-start] repeat(8, [col-start] minmax(min-content, 14rem) [col-end]) [center-end] minmax(6rem,1fr) [full-end]; 
    }
    
    @include responsive(phone){
        grid-template-rows: 6rem calc(80vh - 6rem) minmax(min-content, max-content);    
        grid-template-columns:  minmax(6rem,1fr) [center-start] repeat(8, [col-start] minmax(min-content, 14rem) [col-end]) [center-end] minmax(6rem,1fr) [full-end]; 
    }

    @include responsive(small-phone){
        grid-template-rows: 6rem calc(100vh - 6rem) minmax(min-content, max-content);    
        grid-template-columns:  minmax(6rem,1fr) [center-start] repeat(8, [col-start] minmax(min-content, 14rem) [col-end]) [center-end] minmax(6rem,1fr) [full-end]; 
    }
}