.btn {
    padding: 1.8rem 3rem;

    text-transform: uppercase;
    font-family: $font-display;
    font-size: 1.6rem;
    color: #fff;
    background-color: $color-primary;
    border-radius: 0;
    border: none;
    outline: none;
    cursor: pointer;

    transition: all .2s;

    &:hover {
        background-color: $color-primary-dark;
    }
}