.features {
    // background-color: $color-primary-dark;  FOR TESTING PURPOSES RIGHT AT THE VERY BEGINNING TO TEST 
    //THE OVERALL GRID LAYOUT
    grid-column: center-start / center-end ; //because we want the 6 items to be in the centered fixed grid area
    grid-gap: 6rem;

    margin: 15rem 0;

    display: grid;
    //it's not responsive because it will shrink and be ugly
    //instead we use the auto-fit + minmax technique
    //grid-template-columns: repeat(3, 1fr);
    grid-template-columns: repeat(auto-fit, minmax(25rem, 1fr)) ;
    
    // grid-template-rows: auto auto;  USELESS we want implicit grids which are automatically created

    @include responsive(tablet-port){
        grid-row: 4/5;    
        grid-column: 1/-1;
        padding: 0 3rem;
        margin: 7rem 0;
    }

    &__box {
        display: grid;
        grid-template-columns : min-content 1fr;
        grid-template-rows: min-content; 
        /*I try not to explicit it but it creates a white space below 4th and 6th icon svg
        Indeed because by the default the .features'grid is set to align-items:stretch => so the content try to occupy the whole grid cell
        an other trick was to move all the features items to the top by putting on .features {align-item:top;] */
        grid-template-areas: 
        "icon title"
        ". content";
        column-gap: 2.2rem;  
        row-gap: .5rem;
    }

    &__icon {
        display: block;
        width: 4.5rem;
        height: 4.5rem;
        fill: $color-primary;
        grid-area: icon;
    }

    &__heading{
        grid-area: title;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    &__text {
        grid-area: content;
        font-size: 1.7rem;
    }
}