.footer {
    background-color: $color-secondary;
    grid-column: full-start / full-end;

    padding: 10rem 4rem;

    @include responsive(tablet-port){
        grid-row: 9/10;    
        grid-column: 1/-1;
    }

    &__list{
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(17rem,1fr));
        grid-auto-rows: inherit;
        gap: 1.2rem;

    }

    &__item{
        display: flex;
        text-align: center;
        align-items: center;
        justify-content : center;
        
        list-style-type: none;        
        font-size: 1.4rem;
        font-family: $font-display;
        transition: all .2s;

        //Hovering effect on the footer
        &:hover,
        &:active {
            transform: translateY(-1rem);
            background-color: lighten($color-secondary, 6%);
        }
    }

    &__link:link,
    &__link:visited{
        color: #fff;
        text-decoration: none;
        text-transform: uppercase;
        padding: 1.5rem 3rem;
    }

    .copyright {
        text-align: center;
        margin: 0 auto;
        width: 60vw;
        margin-top: 5rem;
        color: $color-grey-light-2;
        font-size: 1.4rem;
    }
}