.gallery {
    grid-column: full-start / full-end;

    display: grid;
    grid-template-columns: repeat(8,[col-start] 1fr [col-end]);
    grid-template-rows: repeat(7, [row-start] 5vw [row-end]);
    padding: 2rem 2rem;
    background-color: $color-grey-light-1;
    gap: 2rem;

    @include responsive(tablet-port){
        grid-row: 8/9;    
        grid-column: 1/-1;
        gap: .5rem;
        padding: .5rem;
    }

    &__img  {
        width: 100%; //make it responsive
        height: 100%; //same
        object-fit: cover; //nicer 
        display: block;

        &--1 {
            grid-column: col-start 1 / span 2;
            grid-row: 1 / span 2;
        }
        &--2 {
            grid-column: col-start 3 / span 3;
            grid-row: 1 / span 3;
        }
        &--3 {
            grid-column: col-start 6 / span 1;
            grid-row: 1 / span 2;
        }
        &--4 {
            grid-column: col-start 7 / -1;
            grid-row: 1 / span 2;
            object-fit: cover;
        }
        &--5 {
            grid-column: col-start 1 / span 2;
            grid-row: row-start 3 / span 3 ;
        }
        &--6 {
            grid-column: col-start 3 / span 2;
            grid-row: row-start 4 / span 2 ;
        }
        
        &--7 {
            grid-column: col-start 5 / span 1;
            grid-row: row-start 4 / span 1 ;
        }
        &--8 {
            grid-column: col-start 6 / span 2;
            grid-row: row-start 3 / span 2 ;
        }
        &--9 {
            grid-column: col-start 8 / -1;
            grid-row: row-start 3 / span 3 ;
        }
        &--10 {
            grid-column: col-start 1 / span 1;
            grid-row: row-start 6 / -1 ;
        }
        &--11 {
            grid-column: col-start 2 / span 2;
            grid-row: row-start 6 / -1 ;
        }
        &--12 {
            grid-column: col-start 4 / span 1;
            grid-row: row-start 6 / -1 ;
        }
        &--13 {
            grid-column: col-start 5 / span 3;
            grid-row: row-start 5 / -1 ;
        }
        &--14 {
            grid-column: col-start 8 / -1;
            grid-row: row-start 6 / -1 ;
        }
    }
}