.header {
    background-color: $color-grey-light-2;
    grid-column: full-start / col-end 6;
    padding: 8rem;
    padding-top: 4rem;

    display: grid;
    grid-template-rows: 1fr repeat(2, min-content) 1fr;
    grid-template-columns: minmax(min-content,max-content); //prevent the .logos to overlay the page horizontally and break the flow
    justify-content: center;
    grid-row-gap: 1.5rem;

    background-image: linear-gradient(rgba($color-secondary, .93), rgba($color-secondary, .93)), url(../img/hero.jpeg);
    background-position: center;
    background-size: cover;

   
    
   
    @include responsive(tablet-port){
        grid-template-rows: 1fr repeat(2, max-content) 1fr;
        padding: 4rem;
       // padding-bottom: 8rem;
        
        grid-row: 2/3;    
        grid-column: 1/-1;
    }

    @include responsive(small-phone){
        grid-template-rows: 1fr repeat(2, max-content) 1fr;
        grid-template-columns: 1fr;
        padding: 4rem;
        justify-content: center ;  
        justify-items: center;      

        grid-row: 2/3;    
        grid-column: 1/-1;
    }   

    


    /*&__logo, & h3, & h1, &__btn, &__seenon, &__logos {
        grid-column: 2 / 3;
    }*/

    &__logo {
        height: 3rem;
        justify-self: center;
    }

    
    & > h3,
    & > h1 {
        @include responsive(small-phone){
            text-align: center;
        }
    }

    &__btn {
        justify-self: start;
        align-self: flex-start;
        font-size: 1.4rem;
        padding: 1.6rem 2.8rem;

        @include responsive(small-phone){
            margin: 0rem 0rem;
            justify-self: center;
        }
    } 

    &__seenon {
        display: grid;
        grid-template-columns: 1fr max-content 1fr;
        justify-items: center;
        color: $color-grey-light-2;
        font-size: 1.3rem;
        white-space: nowrap;
        grid-column-gap: 2rem;

        //Create the two lines (left and right) around the "Seen on" title
        &::before,  
        &::after {
            content: "";
            height: 1px;
            display: block;
            background-color: currentColor;
            width: 100%;
            align-self: center;
        }
    }


    &__logos{
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(6rem,1fr)); //to make the grid really responsive
        justify-items: center;
        grid-gap: 3rem;
  
        @include responsive (tablet-port){
            grid-template-columns: repeat(auto-fit, minmax(5rem,1fr));
            grid-gap: 5rem;
        }

        @include responsive (phone){
            grid-template-columns: repeat(auto-fit, minmax(20rem,1fr));
            grid-gap: 3rem;
        }

        img {
            max-height: 2.5rem;  //to make it responsive
            filter: brightness(70%);
        }
    }
}