.homes {
    grid-column: full-start / full-end;
    margin: 15rem 0;
    padding: 0 15rem;

    //Autofit responsive grid for 3 cards x 2 at initial state (min - 25rem)
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(25rem, 1fr));
    grid-gap: 7rem;

    //Transform to a one colum layout when screen become smaller
    @include responsive(tablet-port){
        grid-row: 7/8;    
        grid-column: 1/-1;
        padding: 0 5rem; 
        margin: 7rem 0;
    }

    &__card {
        display: grid;
        grid-template-columns: repeat(2, 50%);
        
        background-color: $color-grey-light-1;
        position: relative;
    }


    &__img{
        width: 100%;
        grid-column: 1 / -1;
        grid-row: 1/2;  //we specify this in order to let __like overlap the image (and not push the image below)
        z-index: 1;
    }


    &__like {
        /* the solution I did spontaneously - using absolute positionning
        position: absolute;
        top: 1.8rem;
        right: 1.8rem; */

        //Grid alignment method
        grid-column: 2 / -1;
        grid-row: 1/2;
        justify-self: flex-end;
        margin: 1rem 1rem 0 0;
        z-index: 2;
        
        width: 2.5rem;
        height: 2.5rem;
        fill: $color-primary;
    }


    &__heading {
        /*position: absolute;
        top: 20rem;
        left: 3.5rem;*/
        grid-row: 2/3;
        grid-column: 1 / span 2;     
        margin-top: -2.2rem;  //to create the overlapping effect 
        justify-self: center; 
        width: 80%;
        
        text-align: center;
        background-color: $color-secondary;
        padding: 1rem 1rem;
        font-size: 1.6rem;
        z-index: 5;

        //METHOD USED BY THE INSTRUCTOR TO POSITION THE OVERLAPPING HEADING 
        /*grid-row : 1 /2 ; so it the first grid
        grid-column: 1 / -1; 
        justify-self: center; 
        align-self : bottom ; to put it at the bottom of the 1st grid cell
        translateY(50%); to be perfectly center on the bottom line of the grid cell (line n°2) */
    }

    &__items{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-column: 1 / span 2;
        grid-gap: 2rem;
        margin-top : 2rem;  
    }

    &__item{
        display: grid;
        grid-template-columns: min-content 1fr;
        column-gap: 1rem;

        /*Other solution is to use Flexbox :
        display : flex ;
        align-items : center ;*/
        
        padding: 1rem 2rem;
        font-size: 1.5rem;
    
        &--country {grid-column: 1 / span 1;}
        &--rooms {grid-column: 2 / span 1;}
        &--surface {grid-column: 1 / span 1;}
        &--price {grid-column: 2 / span 1;}
    }

    &__icon {
        width: 2rem;
        height: 2rem;
        fill: $color-primary-dark;
    }

    &__cta {
        grid-column: 1 / -1;
        margin-top: 2rem;
    }
}