/* An other method is to create a titile which is independant
from a box that contains the 3 profiles.
cf. 1st try and Jonas' version*/

.realtors {
    background-color: $color-secondary;
    grid-column: col-start 7 / full-end;

    display: grid;
    grid-template-rows: repeat(4,max-content);
    grid-row-gap: 5vh; //to extend or decrease the gaps when the height of the screen moves
    
    justify-content: center;
    align-content: center;

    @include responsive(tablet-port){
        grid-row: 3/4;    
        grid-column: 1/-1;
        justify-content: center;

        display: grid;
        grid-template-rows: repeat(2,min-content);
        grid-template-columns: repeat(3,1fr);
        justify-items: center;
        padding: 3rem .2rem;
        grid-column-gap: .5rem;

    }
    
    & > * {
        grid-column: 2/3 ; //to position every item in the middle centered column
    }

    & h3 {
        font-size: 1.4rem;
        justify-self: center;

        @include responsive(tablet-port){
            grid-row : 1/2;
            grid-column: 1/-1;
        }
    }


    &__profile {
        color: #fff;
        display: grid;
        grid-template-columns: max-content 1fr; //alternative : min-content max-content
        grid-column-gap: 1.8rem;

        &--1 {
            @include responsive(tablet-port){
                grid-row : 2/3;
                grid-column: 1/2;
            }
        }

        &--2 {
            @include responsive(tablet-port){
                grid-row : 2/3;
                grid-column: 2/3;
            }
        }

        &--3 {
            @include responsive(tablet-port){
                grid-row : 2/3;
                grid-column: 3/4;
            }
        }
    }

    &__img{
        width: 5rem;
        border-radius: 50%;
        grid-row: 1 / span 2;
        grid-column: 1/2;
    }

    &__name {
        font-family: $font-display;
        font-weight: 400;
        font-size: 1.7rem;
        grid-column: 2/3;
        grid-row: 1/2 ;
        align-self: flex-end;
    }

    &__stats{
        text-transform: uppercase;
        color: $color-grey-light-2;
        font-size: .8rem;
        grid-column: 2/3;
        grid-row:  2/3 ;
    }
}