.sidebar {
    background-color: $color-primary;
    grid-column: sidebar-start / sidebar-end;
    grid-row: 1/-1;
    position: relative;

    z-index: 50;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;

    @include responsive(tablet-port){
        grid-row: 1/2;    
        grid-column: 1/-1;
        position: sticky;
        top: 0;
    }

    
    ////////////////////////////////////////
    /////BUTTON + CHECKBOX TRICK
   
    /* We create an input (type:checkbox) that we will hide.
    Then the label (that will check & uncheck the hidden input-checkbox)
    is an empty square that contains my btn-navi (class : _button-box).
    This btn-navi is made of a single empty white bar with before & after pseudo-elements attached*/

    &__button-box {
        width: 45px;
        height : 45px;
        z-index: 4000;
        position: fixed;
        margin-top: 1.8rem;

        @include responsive(tablet-port){
            right : 1rem;
            top : 0;
            margin-top: 0;
        }
    }

    //Creates a little white bar that will have two pseudo elements (one on top, one below)
    // to create a burger menu icon
    &__btn-navi {
        border: none;
        width: 45px;
        height: 2px;
        display: block;
        background-color: #fff;
        z-index: 3800;

        position: absolute;
        top: 50%;
        left: 0;
    
        transition : all .2s;
    }

    //Pseudo elements to create the burger icon for navi
    &__btn-navi::before,
    &__btn-navi::after {
        content: "";
        border: none;
        width: inherit;
        height: inherit;
        background-color: #fff;
        z-index: inherit;
        display: inherit;
        transition : all .2s;
    }

    //Positionning the 2 pseudo elements according the little white bar
    &__btn-navi::before {transform: translateY(-1.4rem);}
    &__btn-navi::after {transform: translateY(1.3rem);}

    ////////////////////////////////////////
    //LITTLE MOVING EFFECT ON THE BURGER NAV WHEN HOVERING
    &__button-box:hover > &__btn-navi::before {transform: translateY(-1.5rem);}
    &__button-box:hover > &__btn-navi::after {transform: translateY(1.4rem);}

    ////////////////////////////////////////
    /////HIDING THE CHECKBOX
    &__checkbox {display: none;}
    

    ////////////////////////////////////////
    /////STYLING THE NAV MENU 

    //HIDDEN THE NAV MENU UNTIL THE BURGER IS CLICKED
    &--large {
        display: none;
        position: fixed;
        top: 0;
        left: 0;
        width: min-content;
        height: 100%;
        background-color: $color-primary;
        z-index: 500;
        transition : all .3s;
    }

    &__list {
        list-style: none;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        text-align: center;
        text-transform: uppercase;
        color: #fff;
        margin-top: 10rem;
        font-size: 2rem;
        margin-left: 2rem ;
    }

    &__item {
        display: block;
        white-space: nowrap;
        padding: .2rem .5rem .2rem 0;
        margin-bottom: .8rem;
        margin-right: 5rem;
        cursor: pointer;
        

        &:hover {
            border-bottom: 1px solid #fff;
        }
    }

    ////////////////////////////////////////
    /////CHECKBOX TRICK TO OPEN THE  MENU WHEN BURGER IS CLICKED 
    &__checkbox:checked ~ .sidebar--large {
        display: block;
    }

    ////////////////////////////////////////
    /////TRANSFORM THE BURGER NAV TO A CROSS
    &__checkbox:checked ~ .sidebar__button-box {
        &> .sidebar__btn-navi::before {  
            transform: rotate(135deg); //180deg-45deg ==> to make it rotate more and finish on the same result
        }

        & > .sidebar__btn-navi::after {  
            transform: rotate(-135deg) translateY(2px);
        }

        & > .sidebar__btn-navi {  
            background-color: transparent;
        }
    }
}




