.stories {

    &__pictures {
        grid-column: full-start / col-end 4;

        //Creating a easy 6x6 grid to position our 2 pictures as we want
        display: grid;
        grid-template-rows: repeat(6,1fr);
        grid-template-columns: repeat(6,1fr);

        background-image: linear-gradient(rgba($color-primary, 0.5), rgba($color-primary, 0.5)), url(../img/back.jpg);
        background-size: cover;

        @include responsive(tablet-port){
            grid-row: 5/6;    
            grid-column: 1/-1;
        }

   
    }

    &__img {
        width: 100%;
        
        @include responsive(tablet-port){
            width: 80%;
        }
        

        &--1{
            grid-column: 2/6;
            grid-row: 2/6;
            align-self: center; //I could have use align-items : center on &__pictures
            box-shadow: 0 2rem 5rem rgba(#000,.1);
        }


        &--2{
            grid-column: 4/7;
            grid-row: 4/7;
            //////Creating the overlapping effect
            //Method 1
            width: 115%;
            z-index: 3;
            //Method 2
            //Absolute positionning + scale + z-index
            //Method 3
            //Using margin left +z-index but we don't have the image at the center of the other one
            box-shadow: 0 2rem 5rem rgba(#000,.2);

            @include responsive(tablet-port){
                width: 80%;
            }
        }   
    }

    &__content {
        background-color: $color-grey-light-1;
        grid-column: col-start 5 / full-end;

        padding: 6rem 8vw; //vw units on left/right side of the content to create a nice and smooth responsiveness
        

        display: flex;
        flex-direction: column;
        justify-content: center;    
        align-items: flex-start; //useful to get a content-size btn ≠ will be stretch by default
        
        @include responsive(tablet-port){
            grid-row: 6/7;    
            grid-column: 1/-1;
        }

        
    }

    &__text {
        font-size: 1.5rem;
        font-style: italic;
        margin-bottom: 2rem; //I don't use a margin-class in the element because it's not a reusable one
    }
}