/* it's an "extend" which is the opposite of a mixin;
The @extend marked selctors will be copied in this huge %selctor
*/

////////////////////////////////////
////HEADING CLASSES
%heading {
    font-family: $font-display;
    font-weight: 400;
}

.heading-1 {
    @extend %heading;
    font-size: 4rem;
    color: #fff;
    line-height: 1;
}

.heading-2 {
    @extend %heading;
    color: $color-secondary ;
    font-size: 4rem;
    line-height: 1;
    font-style: italic;

    &--light{color: $color-grey-light-1;}
    &--dark{color: $color-grey-dark-1;}
}

.heading-3 {
    @extend %heading;
    font-size: 1.8rem;
    text-transform: uppercase;
    color: $color-primary;
}


.heading-4 {
    @extend %heading;
    font-size: 1.9rem;

    &--light{color: $color-grey-light-1;}
    &--dark{color: $color-grey-dark-1;}
    
}

////////////////////////////////////
////MARGIN CLASSES
.mb-sm {margin-bottom: 2rem;}
.mb-md {margin-bottom: 3rem;}
.mb-bg {margin-bottom: 4rem;}
.mb-hg {margin-bottom: 8rem;}